
<nav class="navbar fixed-bottom bg-body-tertiary">
  <div class="container-fluid">
    <b>Criando com
      <i class="bi bi-heart"></i>
      por
      <a class="bi bi-c-circle" href="https://github.com/sergiohc"> SergioHC</a>
    </b>
  </div>
</nav>


