<div class="mt-4">
  <h1>Proponents</h1>

  <div class="d-flex justify-content-end">
    <%= link_to 'New Proponent', new_proponent_path, class: 'btn btn-success', data: { turbo_frame: "modal" } %>
  </div>

  <turbo-frame id="proponents">
    <%= render partial: "proponents/list", locals: { proponents: @proponents } %>
  </turbo-frame>

  <div class="d-flex justify-content-center">
    <%= paginate @proponents %>
  </div>
</div>

